@using WebApplication6.Models
@using Northwind.Data
@model HomePageViewModel

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="container">
            <form action="/home/index">
                <input type="text" value="@Model.CategoryName" name="categoryName" placeholder="Category Name" class="form-control"/>
                <br />
                <input type="text" value="@Model.MinUnitsInStock" name="minStock" placeholder="Min Stock" class="form-control" />
                <br />
                <button class="btn btn-danger">Submit</button>
            </form>
            <table class="table table-hover table-striped">
                <tr>
                    <th>Name</th>
                    <th>Quantity Per Unit</th>
                    <th>Units In Stock</th>
                    <th>Category Name</th>
                </tr>
                @foreach (Product product in Model.Products)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>@product.QuantityPerUnit</td>
                        <td>@product.UnitsInStock</td>
                        <td>@product.CategoryName</td>
                    </tr>
                }
            </table>
        </div>
    </body>
</html>
